@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-font: 'Poppins', sans-serif;
    --major-color: linear-gradient(to bottom right, #392d69, #b57bee);
    --text-color: white;
    
}

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

body {
    font-family: var(--main-font);
    background: var(--major-color);
    height: 100vh;
    overflow-x: hidden;
    color: var(--text-color);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 3rem;
}

.turn-indicator {
    font-weight: 500;
}

.info {
    opacity: 0.5;
}

.game-space {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.board-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}

.board-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    aspect-ratio: 1;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.137);
    transition: background 500ms ease-in-out;
    cursor: crosshair;
    font-size: 2rem;
    font-weight: 800;
}

.board-box:hover,
.board-box:focus {
    background-color: rgba(255, 255, 255, 0.466);
}

.result-space {
    display: none;
    background-color: rgba(255, 255, 255, 0.315);
    border-radius: 15px;
    padding: 2rem;
    gap: 1rem;
}

.result {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.replay-button {
    font-weight: 500;
    background-color: #392d6975;
    padding-inline: 1.2rem;
    padding-block: 0.5rem;
    border-radius: 50px;
    cursor: pointer;
    transition: background 500ms ease-in-out;
}


.replay-button:hover {
    background-color: #392d69;
    transition: background 500ms ease-in-out;
} 
